---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Press - amioprenova" lang="en">
  <h1 class="text-4xl font-bold mb-4">Press</h1>
  <p class="text-gray-600">Press page placeholder</p>
</Layout>
