---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Support / Buy - amioprenova" lang="en">
  <h1 class="text-4xl font-bold mb-4">Support / Buy</h1>
  <p class="text-gray-600">Support page placeholder</p>
</Layout>
