---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Контакт - amioprenova" lang="bg">
  <h1 class="text-4xl font-bold mb-4">Контакт</h1>
  <p class="text-gray-600">Заместител на страницата контакт</p>
</Layout>
