---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Концерти - amioprenova" lang="bg">
  <h1 class="text-4xl font-bold mb-4">Концерти</h1>
  <p class="text-gray-600">Заместител на страницата концерти</p>
</Layout>
