---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Подкрепи - amioprenova" lang="bg">
  <h1 class="text-4xl font-bold mb-4">Подкрепи</h1>
  <p class="text-gray-600">Заместител на страницата подкрепи</p>
</Layout>
