---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Видео - amioprenova" lang="bg">
  <h1 class="text-4xl font-bold mb-4">Видео</h1>
  <p class="text-gray-600">Заместител на страницата видео</p>
</Layout>
